<div class="post-container">
    <div class="post-detail gt-bg-theme-color-second gt-c-content-color-first">
        <article class="gt-post-content">
            <h1 class="post-title"><%= page.title ? page.title : " " %></h1>
            <div class="post-info">
                <time class="post-time gt-c-content-color-first">
                     <%= date(page.date) %> | </time> 
                <span class="post-count">字数统计：<%= wordcount(page.content) %> | </span>   
                <span class="post-count">预估阅读时间：<%= min2read(page.content) %>分钟 |</span> 
                <% if(page.tags) { %>
                    <% page.tags.forEach((tag) => { %>
                        <a href="<%= url_for(tag.path) %>" class="post-tag">
                            #<%= tag.name %></a>
                    <% }); %>
                <% } %>
            </div>
            <hr>
            <div class="post-content gt-c-content-color-first">
                <%- toc(page.content, {
                  list_number: false,
                  anchor_link: true,
                  // Other options to customize the generated TOC
                }) %>
                <%- page.content %>
            </div>
        </article>
    </div>
    <br>
    <% if (page.next || page.prev) { %>
        <div class="next-prev-post">
            <% if (page.prev) { %>
                <div class="prev-post">
                    <div class="prev gt-c-content-color-first">
                        上一篇：<a href="<%- url_for(page.prev.path) %>" 
                            class="post-title gt-a-link"><%- page.prev.title %></a>
                    </div>
                </div>
            <% } %>
            <% if (page.next) { %>
                <div class="next-post">
                    <div class="next gt-c-content-color-first">
                        下一篇：<a href="<%- url_for(page.next.path) %>" 
                            class="post-title gt-a-link"><%- page.next.title %></a>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
    <%- partial("_includes/disqus.ejs") %>
    <%- partial("_includes/gitalk") %>
    <%- partial("_includes/valine") %>
</div>
